body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

.item {
    background: white;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    border-radius: 10px;
}

button {
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}